@using TEJ0017_FakturacniSystem.Models.Subject
@model IEnumerable<TEJ0017_FakturacniSystem.Models.Document.Item>

@{
    ViewData["Title"] = "Ceník";
    var ourCompany = ViewData["OurCompany"] as OurCompany;
}

@if(TempData["SuccessMessage"] != null)
{
    <div class="alert alert-success d-flex align-items-center" role="alert">
        <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Success:"><use xlink:href="#check-circle-fill"/></svg>
        <div>
            @TempData["SuccessMessage"]
        </div>
    </div>
}

<h1><i class="bi bi-tags-fill"></i> Ceník</h1>
<p>
    <a class="btn btn-primary" asp-action="Create"><i class="bi bi-plus"></i>Nová položka</a>
</p>

<div class="table-responsive">
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Name)
                </th>
                @if (ourCompany.IsVatPayer)
                {
                    <th>
                        Cena bez DPH
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Vat)
                    </th>
                }
                else
                {
                    <th>
                        @Html.DisplayNameFor(model => model.Price)
                    </th>
                }
                <th>
                    @Html.DisplayNameFor(model => model.DefaultUnit)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
    @foreach (var item in Model)
    {
            <tr>
                <td>
                    <a asp-action="Edit" asp-route-id=@item.ItemId>@Html.DisplayFor(modelItem => item.Name)</a>
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Price),- Kč
                </td>
                @if (ourCompany.IsVatPayer)
                {
                    <td>
                        @Html.DisplayFor(modelItem => item.Vat) %
                    </td>
                }
                <td>
                    @Html.DisplayFor(modelItem => item.DefaultUnit)
                </td>
                <td>
                    <a data-bs-placement="bottom" class="class="link-primary" title="Odstranění položky z ceníku" data-bs-toggle="modal" data-bs-target="#removeModal" data-bs-whatever="@item.ItemId"><i class="bi bi-trash-fill"></i></a>
                </td>
            </tr>
    }
        </tbody>
    </table>
</div>

<!-- Modal -->
<div class="modal fade" id="removeModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="removeModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="removeModalLabel">Odstranění položky z ceníku</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">Chcete opravdu odstranit tuto položku z ceníku?</div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Storno</button>
        <form method="post" id="recordDelForm" asp-action="Delete">
            <button type="submit" class="btn btn-danger">Odstranit</button>
        </form>
      </div>
    </div>
  </div>
</div>

