@model IEnumerable<TEJ0017_FakturacniSystem.Models.PaymentMethod.PaymentMethod>

@{
    ViewData["Title"] = "Index";
}

<ul class="nav nav-tabs">
    <li class="nav-item">
        <a class="nav-link" href="/Settings/OurCompanyEdit">Fakturační údaje</a>
    </li>
    <li class="nav-item">
        <a class="nav-link active" aria-current="page" href="/PaymentMethods">Platební metody</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="/BankDetails">Bankovní účty</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="/Settings/DocumentSettings">Nastavení dokladu</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="/Settings/EmailTemplate">Šablona E-mailu</a>
    </li>
</ul>

<br />
<h1><i class="bi bi-cash-coin"></i> Platební metody</h1>

<p>
    <a class="btn btn-primary" asp-action="Create"><i class="bi bi-plus"></i>Nová platební metoda</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsBank)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                <a asp-action="Edit" asp-route-id="@item.PaymentMethodId">@Html.DisplayFor(modelItem => item.Name)</a>
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsBank)
            </td>
            <td>
                <a asp-action="Delete" asp-route-id="@item.PaymentMethodId" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Odstranění platební metody"><i class="bi bi-trash-fill"></i></a>
            </td>
        </tr>
}
    </tbody>
</table>

<!--Tooltip trigger-->
<script>
    var tooltipTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="tooltip"]'))
    var tooltipList = tooltipTriggerList.map(function (tooltipTriggerEl)
    {
    return new bootstrap.Tooltip(tooltipTriggerEl)
    })
</script>
