@model TEJ0017_FakturacniSystem.Models.PaymentMethod.BankDetail

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>BankDetail</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BankName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BankName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AccountNumber)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AccountNumber)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BankCode)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BankCode)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Swift)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Swift)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Iban)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Iban)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.PaymentMethodId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
