@using TEJ0017_FakturacniSystem.Models.Subject
@model TEJ0017_FakturacniSystem.Models.Document.DocumentTypes.BasicInvoice

@{
    Layout = null;
    int itemCounter = 0;
    var ourCompany = ViewData["OurCompany"] as OurCompany;
}

<html>
  <head>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3"
      crossorigin="anonymous"
    />
  </head>

  <body style="width: 1024px; min-height: 1600px; margin: 0 auto">
    <h2>Faktura – Daňový doklad @Model.DocumentId</h2>

    <div class="row">
      <div class="col">
        <h3>Dodavatel</h3>
        <p class="lh-1">@ourCompany.Name</p>
        <p class="lh-1">@ourCompany.Address.Street @ourCompany.Address.HouseNumber</p>
        <p class="lh-1">@ourCompany.Address.Zip&nbsp;&nbsp;@ourCompany.Address.City</p>
        <p class="lh-1">IČO: @ourCompany.Ico</p>
        <p class="lh-1">DIČ: @ourCompany.Dic</p>
      </div>
      <div class="col">
        <h3>Odběratel</h3>
        <p class="lh-1">@Model.Customer.Name</p>
        <p class="lh-1">@Model.Customer.Address.Street @Model.Customer.Address.HouseNumber</p>
        <p class="lh-1">@Model.Customer.Address.Zip&nbsp;&nbsp;@Model.Customer.Address.City</p>
        <p class="lh-1">IČO: @Model.Customer.Ico</p>
        <p class="lh-1">DIČ: @Model.Customer.Dic</p>
      </div>
    </div>

    <div class="col-md-6">
      <div class="row">
        <div class="col">
          <p>Datum vystavení: <b>@Model.IssueDate</b></p>
        </div>
        <div class="col">
          <p>Datum splatnosti: <b>@Model.DueDate</b></p>
        </div>
      </div>
    </div>

    <h3>Platební údaje</h3>
    <div class="row">
      <div class="col">
        <p class="lh-1">@Model.BankDetail.AccountNumber/@Model.BankDetail.BankCode</p>
        <p class="lh-1">IBAN: @Model.BankDetail.Iban</p>
        <p class="lh-1">SWIFT @Model.BankDetail.Swift</p>
      </div>
      <div class="col">
        <p class="lh-1">Variabilní symbol: @Model.VariableSymbol</p>
        <p class="lh-1">Konstatní symbol: @Model.ConstantSymbol</p>
      </div>
      <div class="col">
        <p class="lh-1">K úhradě: </p>
        <p class="lh-1">Způsob platby: @Model.PaymentMethod.Name</p>
      </div>
    </div>

    <p>@Model.headerDescription</p>
    <table class="table">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Název položky</th>
          <th scope="col">Cena za kus</th>
          <th scope="col">Množství</th>
          <th scope="col">Jednotka</th>
          <th scope="col">Celkem</th>
        </tr>
      </thead>
      <tbody>
          @foreach(var item in @Model.DocumentItems)
            {
                itemCounter++;
                <tr>
                    <td>@itemCounter</td>
                    <th scope="col">@item.Name</th>
                    <td>@item.UnitPrice,- kč</td>
                    <td>@item.Amount</td>
                    <td>@item.Unit</td>
                    <td>600,- kč</td>
                </tr>
            }
      </tbody>
    </table>

    <br />
    <p>@Model.footerDescription</p>
    <h3>Celková částka</h3>

    <div class="position-absolute bottom-0" style="width: 1024px">
      <div
        class="d-flex align-items-end flex-column" style="min-height: max-content">
        <p>Vystaveno @DateTime.Now uživatelem </p>
      </div>
    </div>
  </body>
</html>

