@model TEJ0017_FakturacniSystem.Models.Document.Document

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Document</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.VariableSymbol)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.VariableSymbol)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ConstantSymbol)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ConstantSymbol)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IssueDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IssueDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DueDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DueDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TaxDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TaxDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Discount)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Discount)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IsPaid)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsPaid)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.headerDescription)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.headerDescription)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.footerDescription)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.footerDescription)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.DocumentId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
