@using TEJ0017_FakturacniSystem.Models.Subject
@{
    ViewData["Title"] = "Nastavení dokladu";
    var ourCompany = ViewData["OurCompany"] as OurCompany;
}

<ul class="nav nav-tabs">
    <li class="nav-item">
        <a class="nav-link" href="/Settings/OurCompanyEdit">Fakturační údaje</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="/PaymentMethods">Platební metody</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="/BankDetails">Bankovní účty</a>
    </li>
    <li class="nav-item">
        <a class="nav-link active" aria-current="page" href="/Settings/DocumentSettings">Nastavení dokladu</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="/Settings/EmailTemplate">Šablona E-mailu</a>
    </li>
</ul>

<br />
<h1><i class="bi bi-file-earmark-text"></i> Nastavení dokladu</h1>
<hr />

@if (ViewData["ErrorMessage"] != null)
{
    <div class="alert alert-danger d-flex align-items-center" role="alert">
        <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Danger:"><use xlink:href="#exclamation-triangle-fill"/></svg>
        <div>
            @ViewData["ErrorMessage"]
        </div>
    </div>
}

@if (ViewData["SuccessMessage"] != null)
{
    <div class="alert alert-success d-flex align-items-center" role="alert">
        <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Success:"><use xlink:href="#check-circle-fill"/></svg>
        <div>
            @ViewData["SuccessMessage"]
        </div>
    </div>
}


<div class="col-md-8">
    <form asp-action="DocumentSettings">
        <div class="form-group">
            <label class="control-label">Formát prvního pořadového čísla dokladu</label>
            <div class="input-group">
                <label class="input-group-text" for="inputGroupSelect01">2022</label>
                <select name="documentNumberLength" class="form-select" id="inputGroupSelect01">
                    <option id="dnl3" value="3">001</option>
                    <option id="dnl4" value="4">0001</option>
                    <option id="dnl5" value="5">00001</option>
                    <option id="dnl6" value="6">000001</option>
                </select>
            </div>
        </div>

        <div class="form-group">
            <label class="control-label">Výchozí doba splatnosti ve dnech</label>
            <div class="col-md-1">
                <input type="number" name="defaultDueInterval" min="1" value="@ourCompany.DueInterval" class="form-control col-md-1" />
            </div>
        </div>
        <div class="form-group">
            <label class="control-label">Hlavička dokladu</label>
            <textarea name="headerDescription" class="form-control" rows="3">@ourCompany.HeaderDesc</textarea>
        </div>
        <div class="form-group">
            <label class="control-label">Patička dokladu</label>
            <textarea name="footerDescription" class="form-control" rows="3">@ourCompany.FooterDesc</textarea>
        </div>
        <div class="form-group d-flex">
            <div class="ms-auto basicElementPadding">
                <input class="btn btn-primary" type="submit" value="Uložit změny"/>
            </div>
        </div>
    </form>
</div>


<script>
    document.getElementById("dnl" + @ourCompany.DocumentNumberLength.Value).selected = true;
</script>