@model IEnumerable<TEJ0017_FakturacniSystem.Models.Document.Document>

@{
    ViewData["Title"] = "Vydané faktury";
}

<ul class="nav nav-tabs">
    <li class="nav-item">
        <a class="nav-link active" aria-current="page" href="#">Faktury</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="#">Zálohové faktury</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="#">Opravné daňové doklady</a>
    </li>
</ul>

@if(TempData["SuccessMessage"] != null)
{
    <br />
    <div class="alert alert-success d-flex align-items-center" role="alert">
        <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Success:"><use xlink:href="#check-circle-fill"/></svg>
        <div>
            @TempData["SuccessMessage"]
        </div>
    </div>
}

<h1 class="basicElementPadding"><i class="bi bi-receipt"></i> Vydané faktury</h1>

<div class="d-flex">
    <div>
        <a class="btn btn-primary" asp-action="Create"><i class="bi bi-plus"></i>Nová faktura</a>
    </div>
    <div class="ms-auto">
      <a class="btn btn-outline-primary" data-bs-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample"><i class="bi bi-filter"></i></a>
    </div>
</div>

<!--Filtr-->
<div class="collapse basicElementPadding" id="collapseExample">
    <div class="card">
        <h4 class="card-header">Filtr</h4>
        <div class="card-body">
            <form asp-action="Index">
                <div class="row">
                    <div class="col-md-2">
                        <h5>Stav úhrady</h5>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" id="checkBoxPaid">
                            <label class="form-check-label" for="checkBoxPaid">Uhrazené</label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" id="checkBoxNotPaid">
                            <label class="form-check-label" for="checkBoxNotPaid">Neuhrazené</label>
                        </div>
                    </div>
                    <div class="col-md-8">
                        <h5>Vystaveno</h5>
                        <div class="input-group mb-3">
                            <span class="input-group-text">Od</span>
                            <input type="datetime-local" class="form-control">
                            <span class="input-group-text">Do</span>
                            <input type="datetime-local" class="form-control">
                        </div>
                    </div>
                </div>
                <div class="d-flex">
                    <div class="ms-auto">
                        <input class="btn btn-primary" type="submit" value="Aplikovat" />
                    </div>
                </div>
            </form>
        </div>
    </div>
    <br />
</div>


<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.DocumentNo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsPaid)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Customer.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TotalAmount)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IssueDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DueDate)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                <a asp-action="Edit" asp-route-id="@item.DocumentId">@Html.DisplayFor(modelItem => item.DocumentNo)</a>
            </td>
            <td>
                @if(item.IsPaid)
                {
                    <a asp-action="SetUnpaid" asp-route-id="@item.DocumentId" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Zrušit úhradu faktury"><i class="bi bi-check-circle-fill"></i></a> 
                }
                else
                {
                    <a asp-action="SetPaid" asp-route-id="@item.DocumentId" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Označit fakturu jako uhrazenou"><i class="bi bi-check-circle"></i></a>   
                } 
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Customer.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TotalAmount)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IssueDate)
            </td>
            <td>
                @item.DueDate.ToShortDateString()
            </td>
            <td>  
                <a asp-action="Detail" asp-route-id="@item.DocumentId" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Export faktury"><i class="bi bi-file-earmark-arrow-down"></i></a>
                <a data-bs-placement="bottom" class="class="link-primary" title="Odstranění faktury" data-bs-toggle="modal" data-bs-target="#removeModal" data-bs-whatever="@item.DocumentId"><i class="bi bi-trash-fill"></i></a>
            </td>
        </tr>
}
    </tbody>
</table>

<!-- Modal -->
<div class="modal fade" id="removeModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="removeModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="removeModalLabel">Odstranění faktury</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">Chcete opravdu odstranit tuto fakturu?</div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Storno</button>
        <form method="post" id="recordDelForm" asp-action="Delete">
            <button type="submit" class="btn btn-danger">Odstranit</button>
        </form>
      </div>
    </div>
  </div>
</div>