@model IEnumerable<TEJ0017_FakturacniSystem.Models.Subject.Customer>

@{
    ViewData["Title"] = "Index";
}

<h1><i class="bi bi-person-lines-fill"></i> Adresář</h1>

<p>
    <a class="btn btn-primary" asp-action="Create"><i class="bi bi-plus"></i>Nový kontakt</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Subjekt
            </th>
            <th>
                Kontaktní osoba
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Telephone)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                <a asp-action="Edit" asp-route-id="@item.SubjectId">@Html.DisplayFor(modelItem => item.Name)</a>
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ContactName) @Html.DisplayFor(modelItem => item.ContactSurname)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Telephone)
            </td>
            <td>
                <a asp-action="Delete" asp-route-id="@item.SubjectId" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Odstranit kontakt"><i class="bi bi-trash-fill"></i></a>
            </td>
        </tr>
}
    </tbody>
</table>

<!--Tooltip trigger-->
<script>
    var tooltipTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="tooltip"]'))
    var tooltipList = tooltipTriggerList.map(function (tooltipTriggerEl)
    {
    return new bootstrap.Tooltip(tooltipTriggerEl)
    })
</script>
