@using TEJ0017_FakturacniSystem.Models.Subject
@model PaginatedList<TEJ0017_FakturacniSystem.Models.Document.Document>

@{
    ViewData["Title"] = "Opravné daňové doklady";
    DateTime firstInvoice = DateTime.Now;
    if(ViewData["FirstInvoice"] != null)
    {
        firstInvoice = (DateTime)ViewData["FirstInvoice"];
    }
    var ourCompany = ViewData["OurCompany"] as OurCompany;
    List<string> customers = (List<string>)ViewData["Customers"];
}

<h1><i class="bi bi-receipt"></i> Výdejové doklady</h1>
<ul class="nav nav-tabs">
    <li class="nav-item">
        <a class="nav-link" href="/BasicInvoices">Faktury</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="/ProformaInvoices">Zálohové faktury</a>
    </li>
    <li class="nav-item">
        @if(ourCompany.IsVatPayer)
        {
            <a class="nav-link active" aria-current="page" href="/CorrectiveTaxDocuments">Opravné daňové doklady</a>
        }
        else
        {
            <a class="nav-link active" aria-current="page" href="/CorrectiveTaxDocuments">Dobropisy</a>
        }
    </li>
</ul>
<br />

@if(TempData["SuccessMessage"] != null)
{
    <div class="alert alert-success d-flex align-items-center" role="alert">
        <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Success:"><use xlink:href="#check-circle-fill"/></svg>
        <div>
            @TempData["SuccessMessage"]
        </div>
    </div>
}

@if(TempData["ErrorMessage"] != null)
{
    <div class="alert alert-danger d-flex align-items-center" role="alert">
        <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Danger:"><use xlink:href="#exclamation-triangle-fill"/></svg>
        <div>
            @TempData["ErrorMessage"]
        </div>
    </div>
}

@if(ourCompany.IsVatPayer)
{
    <h2>Opravné daňové doklady</h2>
}
else
{
    <h2>Dobropisy</h2>   
}
<hr />

<div class="d-flex">
    <div>
        <a class="btn btn-primary" asp-action="Create"><i class="bi bi-plus"></i>Nový doklad</a>
    </div>
    <div class="ms-auto">
      <a class="btn btn-outline-primary" data-bs-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample"><i class="bi bi-filter"></i></a>
    </div>
</div>

<!--Filtr-->
<div class="collapse basicElementPadding" id="collapseExample">
    <div class="card">
        <h4 class="card-header">Filtr</h4>
        <div class="card-body">
            <form id="filterForm" asp-action="Index" method="get" novalidate>
                <div class="row">
                    <div class="col-md-2">
                        <h5>Stav úhrady</h5>
                        <div class="form-check">
                            <input class="form-check-input" name="filterRadioPaid" type="radio" id="checkBoxAll" value="all" checked>
                            <label class="form-check-label" for="checkBoxAll">Všechny</label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" name="filterRadioPaid" type="radio" id="checkBoxPaid" value="paid">
                            <label class="form-check-label" for="checkBoxPaid">Uhrazené</label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" name="filterRadioPaid" type="radio" id="checkBoxNotPaid" value="unpaid">
                            <label class="form-check-label" for="checkBoxNotPaid">Neuhrazené</label>
                        </div>
                    </div>
                    <div class="col-md-8">
                        <h5>Vystaveno</h5>
                        <div class="input-group mb-3">
                            <span class="input-group-text">Od</span>
                            <input type="datetime-local" id="filterMinDatetime" name="filterMinDatetime" value="@firstInvoice.ToString("yyyy-MM-dd HH:mm:ss").Replace(' ','T')" class="form-control">
                            <span class="input-group-text">Do</span>
                            <input type="datetime-local" id="filterMaxDatetime" name="filterMaxDatetime" value="@DateTime.Now.ToString("yyyy-MM-dd HH:mm:ss").Replace(' ','T')" class="form-control">
                        </div>
                        <h5>Odběratel</h5>
                        <div class="col-md-5">
                            <select class="form-select" name="filterCustomerSelect" id="filterCustomerSelect">
                                <option selected value="Nevybráno">Nevybráno</option>
                                @{
                                    foreach(string customer in customers)
                                    {
                                        <option value=@customer>@customer</option>
                                    }
                                }
                            </select>
                        </div>
                    </div>
                </div>
                <div class="d-flex" style="margin-top: 5px;">
                    <input type="text" name="pageNumber" id="filterPageNumber" hidden/>
                    <div class="ms-auto">
                        <input class="btn btn-primary" type="submit" value="Aplikovat" />
                    </div>
                </div>
            </form>
        </div>
    </div>
    <br />
</div>

<div class="table-responsive">
    <table class="table">
        <thead>
            <tr>
                <th>Číslo dokladu</th>
                <th>Uhrazeno</th>
                <th>Název subjektu</th>
                <th>Celková částka</th>
                <th>Datum vystavení</th>
                <th>Datum splatnosti</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
    @foreach (var item in Model)
    {
            <tr>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.DocumentId">@Html.DisplayFor(modelItem => item.DocumentNo)</a>
                </td>
                <td>
                    @if(item.IsPaid)
                    {
                        <a asp-action="SetUnpaid" asp-route-id="@item.DocumentId" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Zrušit úhradu faktury"><i class="bi bi-check-circle-fill"></i></a> 
                    }
                    else
                    {
                        <a asp-action="SetPaid" asp-route-id="@item.DocumentId" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Označit fakturu jako uhrazenou"><i class="bi bi-check-circle"></i></a>   
                    } 
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Customer.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TotalAmount),- Kč
                    @if(item.IsWithVat)
                    {
                        <span class="badge rounded-pill bg-success" style="float: right">DPH</span>
                    }
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.IssueDate)
                </td>
                <td>
                    @item.DueDate.ToShortDateString()
                </td>
                <td>  
                    <a asp-action="Create" asp-route-id="@item.DocumentId" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Vytvoření kopie dokumentu"><i class="bi bi-files"></i></a>
                    <a asp-action="Detail" asp-route-id="@item.DocumentId" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Export dokumentu"><i class="bi bi-file-earmark-arrow-down"></i></a>
                    <a data-bs-placement="bottom" class="class="link-primary" title="Odeslání dokumentu e-mailem" data-bs-toggle="modal" data-bs-target="#sendEmailModal" data-bs-whatever="@item.DocumentId" data-bs-whatever2="@item.Customer.Email"><i class="bi bi-send-fill"></i></a>
                    <a data-bs-placement="bottom" class="class="link-primary" title="Odstranění dokumentu" data-bs-toggle="modal" data-bs-target="#removeModal" data-bs-whatever="@item.DocumentId"><i class="bi bi-trash-fill"></i></a>
                </td>
            </tr>
    }
        </tbody>
    </table>

    @{
        var prevDisabled = !Model.HasPreviousPage ? "disabled btn-outline-secondary" : "btn-outline-primary";
        var nextDisabled = !Model.HasNextPage ? "disabled btn-outline-secondary" : "btn-outline-primary";
    }

    <div class="col" style="margin: auto; width: fit-content;">
        <a onclick="pageClick('@(Model.PageIndex - 1)')"  class="btn btn-sm @prevDisabled"><i class="bi bi-arrow-left"></i></a>
        <span class="badge rounded-pill bg-primary" style="font-size: 15px;">@Model.PageIndex</span>
        <a onclick="pageClick('@(Model.PageIndex + 1)')" class="btn btn-sm @nextDisabled"><i class="bi bi-arrow-right"></i></a>
    </div>
</div>

<!-- Remove modal -->
<div class="modal fade" id="removeModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="removeModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="removeModalLabel">Odstranění faktury</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">Chcete opravdu odstranit tuto fakturu?</div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Storno</button>
        <form method="post" id="recordDelForm" asp-action="Delete">
            <button type="submit" class="btn btn-danger">Odstranit</button>
        </form>
      </div>
    </div>
  </div>
</div>

<!-- Send email modal -->
<div class="modal fade" id="sendEmailModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="sendEmailModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="sendEmailModalLabel">Odeslání faktury emailem</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form method="post" id="recordSendForm" asp-action="SendEmail">
                <div class="modal-body">
                    <div class="form-group">
                        <label class="control-label">Příjemce</label>
                        <input type="text" id="emailReceiver" name="emailReceiver" class="form-control" required />
                    </div>
                    <div class="form-group">
                        <label class="control-label">Předmět</label>
                        <input type="text" name="emailSubject" class="form-control" value=@ourCompany.EmailSubject />
                    </div>
                    <div class="form-group">
                        <label class="control-label">Text zprávy</label>
                        <textarea name="emailText" class="form-control" rows="3">@ourCompany.EmailText</textarea>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Storno</button>
                    <button type="submit" class="btn btn-primary">Odeslat</button>
                </div>
            </form>
        </div>
    </div>
</div>

<script src="~/js/documentFilter.js" asp-append-version="true"></script>