@{
    ViewData["Title"] = "Dashboard";
    var identity = (System.Security.Claims.ClaimsIdentity)Context.User.Identity;
    ViewData["UserName"] = identity.Claims.FirstOrDefault(c => c.Type == "userName").Value;
    Dictionary<int, double> monthAmounts = (Dictionary<int, double>)ViewData["MonthAmounts"];
    List<string> usedYears = (List<string>)ViewData["UsedYears"];
}

<div class="text-center">
    <h1 class="display-4">@Model.Name</h1>
    <h5><i class="bi bi-person-fill"></i> @ViewData["UserName"]</h5>
</div>

<h3>Rychlé akce</h3>
<div class="row actionButtonsWidth">
    <div class="col">
        <a href="/BasicInvoices" type="button" class="btn btn-outline-primary shadow-lg"><i class="bi bi-receipt" style="font-size: 80px;"></i><br />Vydané faktury</a>
    </div>
    <div class="col">
        <a href="/BasicInvoices/Create" type="button" class="btn btn-outline-primary shadow-lg"><i class="bi bi-file-earmark-plus" style="font-size: 80px;"></i><br />Nová faktura</a>
    </div>
    <div class="col">
        <a href="/AddressBook" type="button" class="btn btn-outline-primary shadow-lg"><i class="bi bi-person-lines-fill" style="font-size: 80px;"></i><br />Adresář</a>
    </div>
    <div class="col">
        <a href="/Items" type="button" class="btn btn-outline-primary shadow-lg"><i class="bi bi-tags" style="font-size: 80px;"></i><br />Ceník</a>
    </div>
    <div class="col">
        <a href="/PaymentMethods" type="button" class="btn btn-outline-primary shadow-lg"><i class="bi bi-credit-card" style="font-size: 80px;"></i><br />Banka</a>
    </div>
    <div class="col">
        <a href="/Settings/OurCompanyEdit" type="button" class="btn btn-outline-primary shadow-lg"><i class="bi bi-gear" style="font-size: 80px;"></i><br />Nastavení</a>
    </div>
</div>

<br />

<h3>Přehledy
@{
    foreach(string year in usedYears)
    {
        if(year == @ViewData["SelectedYear"].ToString())
        {
            <span class="badge bg-primary">@year</span>
        }
        else
        {
            <a class="link-secondary" style="font-size: 20px" asp-action="Index" asp-route-year="@year">@year</a>
        }
    }
}
</h3>

<div class="row gap-5 basicElementPadding" style="width: fit-content; margin: auto;">
    <div class="col-md-auto shadow-lg p-3 mb-md-5 rounded text-center" style="min-width: 200px;">
        <h2>@ViewData["SumPaid"],- Kč</h2>
        <h6>Uhrazené faktury</h6>
    </div>
    <div class="col-md-auto shadow-lg p-3 mb-md-5 rounded text-center" style="min-width: 200px;">
        <h2>@ViewData["SumUnpaid"],- Kč</h2>
        <h6>Neuhrazené faktury</h6>
    </div>
    <div class="col-md-auto shadow-lg p-3 mb-md-5 rounded text-center" style="min-width: 200px;">
        <h2>@ViewData["CountTotal"]×</h2>
        <h6>Počet vydaných faktur</h6>
    </div>
    <div class="col-md-auto shadow-lg p-3 mb-md-5 rounded text-center" style="min-width: 200px;">
        <h2>@ViewData["CountUnpaid"]×</h2>
        <h6>Počet neuhrazených faktur</h6>
    </div>
</div>


<script type="text/javascript">
    window.onload = function () {
        var chart = new CanvasJS.Chart("chartContainer", {
	        theme: "light1", 
	        animationEnabled: false,	
	        title:{
		        text: "Vydané faktury za rok @ViewData["SelectedYear"]"
	        },
	        data: [
	        {
		        type: "column",
                color: "DodgerBlue",
		        dataPoints: [
			        { label: "Leden",  y: @monthAmounts[1] },
			        { label: "Únor", y: @monthAmounts[2] },
			        { label: "Březen", y: @monthAmounts[3] },
			        { label: "Duben",  y: @monthAmounts[4] },
			        { label: "Květen",  y: @monthAmounts[5] },
                    { label: "Červen",  y: @monthAmounts[6] },
			        { label: "Červenec", y: @monthAmounts[7] },
			        { label: "Srpen", y: @monthAmounts[8] },
			        { label: "Září",  y: @monthAmounts[9] },
			        { label: "Říjen",  y: @monthAmounts[10] },
                    { label: "Listopad",  y: @monthAmounts[11] },
			        { label: "Prosinec",  y: @monthAmounts[12] }
		        ]
	        }
	        ]
        });
        chart.render();
    }
</script>

<div class="row" style="margin: 40px 0 60px 0;">
    <div id="chartContainer" style="height: 370px; width: 100%;"></div>
</div>